.container{

 }

#logo{
    font-size: 20px;
    margin: 40px;
    /* text-align: center; */
}

nav,li, a {
list-style-type: none;
text-decoration: none;
display: inline-block;
margin-right: 20px;
float: right;
position: relative;
top: -25px;
}

h1{
    color: gray;
}

.title{
    padding: 30px;
    margin: 20px;
}

.flex,img{
    /* display: inline-table; */
    height: 400px;
    width: 400px;
}
 

/* .text{
    font-size: 30px;
    position: absolute;
    right: 90px;
} */

#text1{
    position: absolute; 
    top: 390px;
    right: 90px;
    font-size: 30px;
}

.h1{
    color: gray;
    font-size: 60px;
    position: absolute;
    top: 320px;
    right: 370px;
}



#text2{
    position: relative; 
    top: 100px;
    right: -540px;
    font-size: 30px;
}

.h2{
    color: gray;
    font-size: 60px;
    position: absolute;
    bottom: -190px;
    right: 370px;
}


#text3{
    position: relative; 
    bottom: -360px;
    right: -540px;
    font-size: 30px;
}

.h3{
    color: gray;
    font-size: 60px;
    position: absolute;
    bottom: -590px;
    right: 400px;
}


.footer{
    background-color: black;
    height: 40vh;
    color: white;
    }
    .column{
    margin: 290px;
    padding: 50px;
    display: flex;
    gap: 90px;
    
    }
    h6{
    margin-top: 30px;
    text-wrap: nowrap;
    }
    
    #services{
        margin-left: -50px;
    }
    
    h3{
        margin-top: -30px;
        margin-right: -140px;
    }
    .end{
        position: absolute;
        bottom: -1190px;
    }