.container{
    position: absolute;
    right: 790px; 
    top: 60px;

}

#box4{
    border: 1px outset;
    height: 600px;
    width: 600px;
    background-color: whitesmoke;
    
}

.container,p{
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
}

#box{
    background-color: whitesmoke;
    border: 1px solid;
    border-radius: 300px;
    height: 150px;
    width: 140px;

}


#box1{
    background-color: limegreen;
    border: 1px solid;
    border-radius: 300px;
    height: 100px;
    width: 100px;
    margin: 20px;
    


}

#paragraph{
    font-weight: 600;
    font-size: 15;
    text-wrap: nowrap;
position: absolute;
bottom: -120px;
left: -140px;
}

.box2{
    background-color: black;
    color: white;
    height: 60px;
    width: 360px;
position:relative;
bottom: -230px;
left: -90px;
text-align: center;
}